<div class="content-panel">
  <div class="content-panel__header">
    <div class="title">{{ 'driveToPark.title' | t }}</div>
    <div class="text">
      {{ 'driveToPark.step1' | t }}
    </div>
    <div class="text">
      {{ 'driveToPark.step2' | t }}
    </div>
    <div class="text">
      {{ 'driveToPark.step3' | t }}
    </div>
    <div class="text">
      {{ 'driveToPark.step4' | t }}
    </div>
  </div>

  <div class="info-bar">
    <sh-menu-item ta-id="drive-to-park-info-bar-hint" icon="information" icon-size="m" [label]="'driveToPark.info' | t" active>
    </sh-menu-item>
  </div>

  <div class="footer">
    <sh-text>{{ 'common.copyright' | t }}</sh-text>

    <div class="footer__actions">
      <sh-button ta-id="cancel-btn" [label]="'common.cancel' | t" color="secondary" size='max-content' (click)="onCancel()"></sh-button>
      <sh-button ta-id="proceed-btn" [label]="'common.proceed' | t" color="primary" size='max-content' (click)="onProceed()"></sh-button>
    </div>
  </div>
</div>
