# Public packages use the default npm registry
registry=https://registry.npmjs.org/

# Private SHUI packages use the Azure DevOps feed
@shui:registry=https://pkgs.dev.azure.com/shs-ti-ux/_packaging/SHUIHTML5/npm/registry/
always-auth=true